langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-classic
streamlit
langchain_groq
langchain-core
fastapi
uvicorn
langserve
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
pytube
unstructured
numexpr
huggingface_hub
datasets
cassio
gradio